.badge{
	font-size: 14px;
	border: 2px solid rgba(#999,.8);
	padding: .3em .5em;
	border-radius: 4px;
	background-color: transparent;
	color: rgba(#999,.8);
	&.badge--active{
		border-color: rgba(#222,.8);
		color: rgba(#222,.8);
	}
	cursor: pointer;
}